<div id="header-navigation">
  <div class="left-menu">
    <button onclick={{ action "click" }}>Menu</button>
    <ul class="menu-items">
      <li><a onclick={{ action "click" }}>alternative data</a></li>
      <li class="active"><a onclick={{ action "click" }}>core financial data</a></li>
    </ul>
  </div>
  <div class="logo">
    <img src='assets/quandl-logo.svg'>
  </div>
  <div class="right-menu">
    <ul class="menu-items">
      <li><a onclick={{ action "click" }}>Docs &amp; Help</a></li>
      <li><a onclick={{ action "click" }}>Blog</a></li>
      <li><a onclick={{ action "click" }}>Sign In</a></li>
    </ul>
  </div>

  {{yield}}
</div>
