<h3>{{publisher.title}}</h3>

<div class="content-wrapper">
  <div class="column main-content">
    <div class="dataset-tables">
      <div class="description">Datasets in this data product</div>
      {{#each products as |product|}}
        <div class="table">
          <div class="table-header">
            <h4>{{ product.name }}</h4>
            {{link-to 'Expand' 'products.show' product.id class="xpand-button"}}
          </div>
          {{ data-grid data=product.productDataSubset }}
          <div class="table-footer">Sample Rows</div>
        </div>
      {{/each}}
      {{outlet}}
    </div>
  </div>
  <div class="column sidebar">
    {{ publisher-detail data=publisher }}
  </div>
</div>

