<h3>Product Page - Index - {{publisher.title}}</h3>

{{#each products as |product|}}
  <div class="table-header"><h4>{{link-to product.name 'products.show' product.id}}</h4></div>
  {{ data-grid data=product.productDataSubset }}
  <div class="table-footer">Sample Rows</div>
{{/each}}

{{ publisher-detail data=publisher }}
{{outlet}}
